build/
release/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
AppPackages/
TestResults/
*.bak
packages
*.orig
*.DotSettings
*.ide/
.nuget
project.lock.json
.vs
UpgradeLog*.htm